.alineacionarriba{
    align-content: center;
    margin-top: auto;
}
li{
    color: darkred;
}
body{
background-color: black;
    
}

ol div{
    text-align: top left;
}nav ol .navegacion div a {
	font-family: Times New Roman, Times, serif;
}
